/* Fonts */
@font-face {
  font-family: "MontserratRegular";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../src/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CairoRegular";
  src: url("../src/assets/fonts/Cairo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CairoSemiBold";
  src: url("../src/assets/fonts/Cairo-Medium.ttf") format("truetype");
}
:root {
  --font-primary: "CairoRegular", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

/* Font Sizes */
:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
}

/* Colors */
:root {
  --color-primary: #030303; /* Primary color:Dark */
  --color-secondary: #0d0d0f; /* Secondary color:Gray */
  --color-accent: #fefefe; /* Accent color */
  --color-text: #333; /* Text color */
  --color-background: #1d1d1f; /* Background color */
  --color-border: #ccc; /* Border color */
}

/* Spacing */
:root {
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

/* Border Radius */
:root {
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
}

/* Box Shadows */
:root {
  --box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-large: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Z-Index */
:root {
  --z-index-dropdown: 100;
  --z-index-modal: 200;
  --z-index-overlay: 300;
}

/* Other Variables */
:root {
  --max-width-container: 1200px; /* Maximum width of the container */
}
body {
  font-family: var(--font-primary);
  margin: 0;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch
  .ant-switch-inner
  .ant-switch-inner-unchecked {
  margin-top: -27px !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch .ant-switch-inner {
  border: 1px solid white !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: none !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch:hover:not(.ant-switch-disabled) {
  background: none !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch.ant-switch-checked {
  background: none !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn-default {
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: rgb(255 255 255 / 88%) !important;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn {
  line-height: 0 !important;
  padding: 4px 4px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-switch {
  min-width: 55px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  font-size: 10px !important;
  font-family: MontserratSemiBold;
}
